Source: winebottles
Section: otherosfs
Priority: optional
Maintainer: Ryan Marquardt (orbnauticus) <ryan.marquardt@gmail.com>
Build-Depends: cdbs (>= 0.4.62), debhelper (>= 7.4), python (>=2.6), python-support
XS-Python-Version: >= 2.4
Vcs-Git: git://github.com/orbnauticus/WineBottles.git
Vcs-Browser: git://github.com/orbnauticus/WineBottles
Standards-Version: 3.8.4
Homepage: git://github.com/orbnauticus/WineBottles

Package: winebottles
Architecture: i386 amd64
Pre-Depends: dpkg (>= 1.14.12ubuntu3)
Depends: ${misc:Depends}, ${python:Depends}
Recommends: wine1.2, winetricks
Homepage: http://github.com/orbnauticus/Wine-Bottles
Description: Microsoft Windows Compatibility Layer (winebottles)
 Wine is a compatibility layer for running Windows applications on Linux.
 Applications are run at full speed without the need of cpu emulation. Wine
 does not require Microsoft Windows, however it can use native system dll
 files in place of its own if they are available.
 .
 This package includes a program that automates maintenance of wine prefixes or
 "bottles", allowing multiple windows programs to be installed and managed in
 separate environments.
